/* Default css */
html, body{
  height: 100%;
}

header{
  display: flex;
}

header>h1{
  flex:2;
}

h1,h2,footer{
  text-align: center;
}

/* Main body css  */
.code{
  background-color: rgba(236, 231, 225, 0.932);
}

.nav-item{
  list-style: none;
}

.nav-selection{
  text-decoration: none;
  
}

/* Button Style section css */
#btn-examples{
  display: flex;
  justify-content: space-evenly;
}

.btn-1{
  border: none;
  background-color: red;
  color: white;
  padding: 10px;
}

.btn-1:hover{
  cursor: pointer;
}

.btn-2{
  border: 1px solid black;
  background-color: red;
  color: white;
  padding: 10px;
}

.btn-2:hover{
  background-color: rgba(83, 44, 44, 0.829);
  color: white;
}

.btn-3{
  border: 1px solid black;
  background-color: red;
  color: white;
  padding: 10px;
  transition: 0.4s;
}

.btn-3:hover{
  background-color: rgba(83, 44, 44, 0.829);
  color: white;
}


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  display: flex;
}

.main-contents{
display: flex;
flex-direction: column;
}

#nav-container{
  flex:1
}

section{
  flex:2
}

/* Palette Section */

#palette article{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  padding: 0;
  margin: 0;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5%;
  height: 10rem;
  width: 10rem;
  text-align: center;
}

footer{
    margin-top: auto;
}